In [ ]:
if True:
    print('Ankit')
    print(100*2)
else:
    print('Rikki')
    print(200*5)
    
    
print('Outside the if/else block/suite and not indented so will run irrespective of if and else output')

# Datatypes in Python, Memory Management, Subscription

In [ ]:
# Datatypes

# Literal, literal collection - these are all datatypes.


# Fundamental (also called Primitive) Datatypes - Literals

#1. Integer
#2. Float
#3. Bool
#4. String
#5. None
#6. Complex

# Derived datatypes - Literal collections

# String is an exception - it shows some properties of a derived datatype. 

#1. List
#2. Tuple
#3. Range
#4. Bytes
#5. Dictionary
#6. Sets
#7. ByteArrays
#8. Frozensets

In [ ]:
a = 1000
b = 1000

print(id(a))
print(id(b))
print(a is b)
print(a == b)

In [ ]:
c = a

print(id(a))
print(id(c))

print(a is c)
print(a == c)

In [ ]:
d = 4000

print(id(d))

d = 5000
print(id(d))

In [ ]:
d = d+100
d = d-100

print(id(d))

In [ ]:
lst1 = [1000,2000,3000,4000]

print(lst1[0], id(lst1[0]))
print(lst1[1], id(lst1[1]))
print(lst1[2], id(lst1[2]))
print(lst1[3], id(lst1[3]))

In [ ]:
print(id(lst1))

In [ ]:
lst1[0] = 1111

print(lst1)

In [ ]:
print(id(lst1))

In [ ]:
print(id(lst1[0]))

In [ ]:
lst2 = ['A', 'B']

lst1.append(lst2)

print(lst1)

In [ ]:
print(id(lst2))

In [ ]:
print(id(lst1[4]))

In [ ]:
lst2[0] = 'a'

print(lst2)
print(id(lst2))

In [ ]:
print(lst1)

In [ ]:
a = 1000

a[0] = 2

In [ ]:
# Memory optimisation - reusing objects. 

# The following objects are assigned memory at startup. Whenever we try and use any of the following values - Python DOES NOT
# create new objects but uses these same objects from memory which are already created. Even if we do not end up using 
# some of these values in our script - overall Python would have saved a lot of memory. 

# -5 to 256 = Integers i.e. 262 memids allocated
# 128 ascii values = 128 memids allocated
# True / False = 2 memids allocated
# None = 1 memid allocated

In [ ]:
a = 'Rikki'

print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

In [ ]:
b = 'rocky'
c = 'vikki'
d = 'mikki'

In [ ]:
a = 1000
b = 1000

print(id(a))
print(id(b))
print(a is b)

In [ ]:
x = 257
y = 257

print(id(x))
print(id(y))
print(x is y)

In [ ]:
a = 'sanka'
b = 'pankaj'

print(a[1], id(a[1]), id(a[4]))
print(b[1], id(b[1]), id(b[4]))
print(a[1] is b[1] is a[4] is b[4])

In [2]:
a = True

print(id(True), id(a))
print(True is a)

140715757271144 140715757271144
True

In [1]:
print(id(True))

x = 1
while x < 5:
    print('Ginil')
    x += 1
    
print(id(True))

140715757271144
Ginil
Ginil
Ginil
Ginil
140715757271144

In [ ]:
b = False

print(id(False), id(b))
print(False is b)

In [ ]:
c = None

print(id(None), id(c))
print(None is c)

In [ ]:
a = [1000,1000] #due to cache memory ids are same

print(id(a[0]))
print(id(a[1]))

In [ ]:
a = [1000, 2000]

print(id(a[0]))

In [ ]:
a.append(1000)
print(a)

In [ ]:
print(id(a[2]))

In [ ]:
print(id(1000))

In [14]:
# Memory Management - String interning

lst1 = [1,2,3,4]
lst2 = [1,2,3,4]

print(id(lst1))
print(id(lst2))

1366740658560
1366739866304

In [17]:
# they can contain alphabets or numbers or _
# they cannot begin with a number
# No special symbols (except _) including spaces
# Case sensitive

In [18]:
str1 = 'Venki'
str2 = 'Venki'

print(id(str1))
print(id(str2))

1366740453808
1366740453808

In [19]:
str3 = 'Venki@'
str4 = 'Venki@'


print(id(str3))
print(id(str4))

1366740478320
1366740478704

In [20]:
# If a multichar string follows identifier rules then it will be 'interned' i.e. another string with exact same characters
# will NOT create a new object, the previous string object will be reused.

In [21]:
print(Venki)

NameError: name 'Venki' is not defined

In [25]:
# Subscription - Indexing, Slicing and Assignment


lst1 = [1,2,3,4]

print(lst1[3])

4

In [26]:
str1 = 'Venki'

print(str1[0])

V

In [27]:
print(str1[3])

k

In [28]:
print(lst1[-1])

4

In [29]:
print(lst1[-3])

2

In [30]:
print(str1[-1])

i

In [31]:
print(str1[-3])

n

In [32]:
print(str1[2])

n

In [ ]:
str1 = 'Venki'

In [34]:
print(str1[-6])

IndexError: string index out of range

In [ ]:
# Index assignment

In [37]:
lst1 = [1,2,3,4] #Mutable

str1 = 'Venki' #Immutable

print(id(lst1))

1366773294400

In [38]:
lst1[0] = 11

print(lst1)
print(id(lst1))

[11, 2, 3, 4]
1366773294400

In [36]:
str1[0] = 'v'

print(str1)

TypeError: 'str' object does not support item assignment

In [39]:
# Slicing


lst1 = list(range(20))

str1 = 'Hello There'

print(lst1)
print(str1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Hello There

In [ ]:
# Stop index is always exclusive

In [57]:
lst1[-1:-21:-1]

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
# While slicing we can provide 3 parameters

# start index - where to start slicing. If left blank, it will start from beginning (or end in case of negative step) of string
# stop index - where to end slicing (minus 1 because stop index is exclusive). If left blank, it will stop at end 
# (or beginning in case of negative step)
# step size - OPTIONAL. It defaults to 1 if not provided.

In [ ]:
# Slice Assignment

#String - No assignment
# Tuples - No assignment
# Dictionaries - Key, Value Pairs (and they do not even support integer subscription)
# sets - We can do assignment


#lists - Mutable

In [58]:
print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [59]:
# Length of items being replaced does NOT have to equal length of items replacing them.
# The new values being assigned must be an iterable(i.e. derived datatype such as list, tuple or set)

lst1[0] = 100

print(lst1)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [60]:
lst1[0:5] = [100,200,300,400,500]

print(lst1)

[100, 200, 300, 400, 500, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [103]:
lst1 = list(range(10))

print(lst1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
lst1[0:5] = [100,200]

print(lst1)

[100, 200, 5, 6, 7, 8, 9]

In [107]:
lst1 = [1,2,3,4]

str1 = str(lst1)

for x in str1:
    print(x)

[
1
,

2
,

3
,

4
]

In [ ]:
lst2 = [1, 2, 3, 4]

str2

In [104]:
lst1[0:5] = [100]

In [105]:
print(lst1)

[100, 5, 6, 7, 8, 9]

In [114]:
lst1 = [1,2,3,4,[5,6,7, [11,12,13,14]],8,9,10, 'Rikki', 2+3j, (1,2,3)]

print(lst1[-1][0])

1

In [75]:
lst1[4][3][2]

13

In [72]:
print(lst1[4][1:])

[6, 7]

In [76]:
# Typecasting using functions

a = 10


print(type(10))

<class 'int'>

In [77]:
b = float(a)

print(b)

10.0

In [78]:
a = 10.0

print(type(a))

b = int(a)

print(b)
print(type(b))

<class 'float'>
10
<class 'int'>

In [80]:
a = 10.0

b = str(a)

print(b)
print(type(b))

10.0
<class 'str'>

In [81]:
a = 10

b = str(a)

print(b)
print(type(b))

10
<class 'str'>

In [82]:
lst1 = [1,2,3,4]

b = str(lst1)

print(b)
print(type(b))

[1, 2, 3, 4]
<class 'str'>

In [83]:
b[0]

'['

In [84]:
b[1]

'1'

In [85]:
b[2]

','

In [86]:
b[4]

'2'

In [87]:
b[-1]

']'

In [88]:
x = int(lst1)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [89]:
y = complex(2,3)

print(y)

(2+3j)

In [90]:
lst1 = [1,2,3,4]

tup1 = tuple(lst1)

print(tup1)
print(type(tup1))

(1, 2, 3, 4)
<class 'tuple'>

In [91]:
tup1 = (100,200,300)

lst1 = list(tup1)

In [92]:
print(lst1)

[100, 200, 300]

In [ ]:
str1 = 'Venki'

In [ ]:
# An iterable is an object that can be iterated over. 

# for <temp_var> in <iterable>:

In [93]:
lst1 = [100,200,300,400]

for x in lst1:
    print(x)

100
200
300
400

In [94]:
str1 = 'ABCDE'

for x in str1:
    print(x)

A
B
C
D
E

In [95]:
tup1 = (1000,2000,3000,4000)


for x in tup1:
    print(x)

1000
2000
3000
4000

In [96]:
num = 10

for x in num:
    print(x)

TypeError: 'int' object is not iterable

In [97]:
float1 = 10.0

for x in float1:
    print(x)

TypeError: 'float' object is not iterable

In [ ]:
noneobj = None

true = True
false = False

In [99]:
a = bool(0)

print(a)
print(type(a))

False
<class 'bool'>

In [102]:
b = int(False)

print(b)

0

In [1]:
lst = list(range(20))

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
print(lst[0:20])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
print(lst[-1:6:-2])

[19, 17, 15, 13, 11, 9, 7]

In [ ]:
# String Concatenation
# list.append()
# len function
# print()

In [5]:
# String concatenation

print('April' + ' 24th')

April 24th

In [21]:
lst1 = [100,200,300,400]

print(lst1)
print(id(lst1))

[100, 200, 300, 400]
1788290467392

In [25]:
lst1.append([500,600])

print(lst1)
print(id(lst1))

[100, 200, 300, 400, [500, 600], [500, 600], [500, 600], [500, 600]]
1788290467392

In [15]:
lst2.append(100)

NameError: name 'lst2' is not defined

In [ ]:
# -5 to 256
# ascii
# None
# True and False

In [16]:
print(id(a))
print(id(None))

140717202193624
140717202193624

In [29]:
lst1 = list(range(0,100,2))

print(lst1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [30]:
print(len(lst1))

50

In [31]:
print(len('April 24th Batch'))

16

In [32]:
print(len(10))

TypeError: object of type 'int' has no len()

In [33]:
print('Rikki')

Rikki

In [43]:
print('Rikki', 'S', 'Learnbay', 'Dharan', 'Venkatesh', 10, [100,200], sep = '\n ', end = '\n')
print('Hello there')

Rikki
 S
 Learnbay
 Dharan
 Venkatesh
 10
 [100, 200]
Hello there

In [45]:
# range object

range1 = range(1,20,1)

print(range1)
print(type(range1))

range(1, 20)
<class 'range'>

In [46]:
range2 = list(range1)

print(range2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
print(range1[0])

1

In [49]:
print(type(range1[0]))

<class 'int'>

In [ ]:
# Range takes 3 parameters

# Start - Optional - Where we want to start our range object from. Defaults to 0 if not provided
# Stop - Mandatory - Where to stop our range object. EXCLUSIVE
# Step - Optional - If not provided defaults to 1. 


# Range can only take integer type as its parameters.

In [50]:
range1 = list(range(0,20,1))

print(range1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [51]:
range2 = list(range(10,20,1))
print(range2)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [52]:
range3 = list(range(11,20,2))

print(range3)

[10, 12, 14, 16, 18]

In [53]:
range4 = list(range(10,20))

print(range4)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [55]:
range5 = list(range(10))
print(range5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
range6 = list(range(20,10,-1))
print(range6)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

In [58]:
range7 = range(20,10,-1)

print(type(range6))
print(type(range7))

<class 'list'>
<class 'range'>

In [59]:
range6.append(100)

print(range6)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 100]

In [60]:
range7.append(100)

AttributeError: 'range' object has no attribute 'append'

In [61]:
range6.append(range5)


print(range6)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 100, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [ ]:
# For loop is to iterate over an iterable

In [ ]:
# for <temp_var> in iterable:
#       code to be repeated for each value of temp_var
#       1
#       2

In [62]:
lst1 = [12, 72, 32, 41, 17, 19, 33]

print(len(lst1))

7

In [65]:
for x in range(7):
    print(x)

0
1
2
3
4
5
6

In [ ]:
print(len(lst1))

In [67]:
print(lst1)
print(type(lst1))

[12, 72, 32, 41, 17, 19, 33]
<class 'list'>

In [64]:
for x in range(len(lst1)):
    print(x)

0
1
2
3
4
5
6

In [ ]:
# One of the most common uses of range function is to get the index numbers of an iterable. We can use it as a proxy for
# index numbers. 

# However, that is NOT its only use. It is just programming logic we are using to get index numbers. 

# If anyone tells me in class that use of range object is to get index numbers - I  will be deducting  10 marks from  your 
# test scores.

In [66]:
print(lst1)

[12, 72, 32, 41, 17, 19, 33]

In [69]:
# Print each of the elements in lst1 after adding 4. 

lst1 = [12, 72, 32, 41, 17, 19, 33]

In [70]:
for x in lst1:
    print(x+4)

16
76
36
45
21
23
37

In [71]:
# Make a new list with numbers from lst1 but add 4 to each number before putting in new list. 

lst2 = []

for x in lst1:
    lst2.append(x+4)
    
    
print(lst1)
print(lst2)

[12, 72, 32, 41, 17, 19, 33]
[16, 76, 36, 45, 21, 23, 37]

In [72]:
# Add 4 to each element of lst1 WITHOUT creating a new list or changing lst1s memory ID. 
# Hint - Here you will need range object and index assignment


lst1 = [12, 72, 32, 41, 17, 19, 33]

for x in range(len(lst1)):
    lst1[x] = lst1[x]+4

    
print(lst1)

[16, 76, 36, 45, 21, 23, 37]

In [103]:
# Print strings concatenating 1st element from str1 with 1st element from str2 then 2nd element str1 and str2 then 3rd
# element and so on...

# bh
# lo
# ar
# cs
# ke

str1 = 'black'
str2 = 'horse'

In [92]:
for x in range(len(str1)):
    print(str1[x]+str2[x])

bh
lo
ar
cs
ke

In [101]:
print(str1[2]+str2[2])

ar

In [104]:
print(str1)
print(str2)

black
horse

In [94]:
for x in range(-1,-(len(str1)+1),-1):
    print(str1[x]+str2[x])

ke
cs
ar
lo
bh

In [99]:
print(str1)
print(str2)

blacked
horse

In [98]:
for x in range(len(str1)):
    if x >= len(str2):
        print(str1[x]+'*')
    else:
        print(str1[x]+str2[x])

bh
lo
ar
cs
ke
e*
d*