In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('hotel_bookings_copy4.csv', usecols = ['is_canceled','lead_time','arrival_month_year',\
'stays_in_weekend_nights','stays_in_week_nights','market_segment', 'country', 'adults', 'children', 'babies'])

In [6]:
df.shape

(1999, 10)

In [ ]:
df.head()

In [ ]:
df['market_segment'].unique()

In [ ]:
# groupby method

df_market = df.groupby('market_segment')

print(df_market)

In [ ]:
df_market.apply(print)

In [ ]:
df_mean = df_market.mean()

In [ ]:
print(type(df_mean))

In [ ]:
df_mean

In [ ]:
df_market.first()

In [ ]:
df_corporate = df_market.get_group('Corporate')

In [ ]:
print(type(df_corporate))

In [ ]:
df_corporate

In [ ]:
df_market['lead_time']

In [ ]:
df_market_IC = df.groupby(['market_segment', 'is_canceled'])

df_market_IC

In [ ]:
df_market_IC.apply(print)

In [12]:
df[df['country']== 'BRA']

,is_canceled,lead_time,arrival_month_year,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,country,market_segment
312,0,48,Jul-15,2,5,2,0,0,BRA,Offline TA/TO
634,0,8,Jul-15,0,2,2,0,0,BRA,Online TA
643,0,8,Jul-15,0,2,2,0,0,BRA,Online TA
804,0,20,Jul-15,1,3,2,1,0,BRA,Online TA
1159,0,2,Aug-15,1,0,2,0,0,BRA,Online TA
1393,0,31,Aug-15,0,2,3,0,0,BRA,Direct
1398,0,31,Aug-15,0,2,2,2,0,BRA,Direct
1431,0,47,Aug-15,2,1,1,0,0,BRA,Online TA
1733,0,1,Sep-15,1,2,2,2,0,BRA,Online TA
1746,0,143,Sep-15,2,4,2,0,0,BRA,Online TA
1834,0,78,Sep-15,0,2,2,0,0,BRA,Online TA
1931,0,78,Sep-15,0,2,2,0,0,BRA,Online TA

In [ ]:
# cross_tab

In [4]:
df_crossT = pd.crosstab([df['country'],df['market_segment']],df['is_canceled'])

pd.set_option('display.max_rows', None)
print(df_crossT)

is_canceled               0    1
country market_segment
ALB     Offline TA/TO     1    0
ARG     Direct            1    0
        Online TA         1    0
AUS     Direct            1    0
        Online TA         1    0
BEL     Online TA         7    0
BRA     Direct            2    0
        Offline TA/TO     1    0
        Online TA         9    0
BWA     Online TA         1    0
CHE     Corporate         1    0
        Direct            4    0
        Offline TA/TO     5    0
        Online TA         5    0
CHL     Online TA         1    0
CHN     Online TA         3    0
CN      Corporate         1    0
        Direct            3    0
        Offline TA/TO     5    0
        Online TA         4    0
CZE     Online TA         1    0
DEU     Corporate         2    0
        Direct            1    1
        Offline TA/TO     8    0
        Online TA         6    0
DNK     Online TA         5    0
ESP     Direct           36    0
        Offline TA/TO    37    0
        Online TA       121    1
EST     Online TA         2    0
FIN     Offline TA/TO     1    0
        Online TA         2    0
FRA     Corporate         2    0
        Direct            4    0
        Groups            1    0
        Offline TA/TO     8    0
        Online TA        28    0
GBR     Corporate         3    0
        Direct            9    0
        Offline TA/TO   102    0
        Online TA        75    0
GRC     Online TA         1    0
IND     Online TA         2    0
IRL     Corporate         1    0
        Direct           18    1
        Groups            1    1
        Offline TA/TO    36    0
        Online TA        35    0
ITA     Corporate         5    0
        Direct            1    0
        Offline TA/TO     3    0
        Online TA         2    0
LUX     Online TA         1    0
LVA     Offline TA/TO     1    0
        Online TA         2    0
MAR     Offline TA/TO     1    0
        Online TA         1    0
MEX     Online TA         1    0
MOZ     Online TA         2    0
NLD     Direct           10    0
        Offline TA/TO     5    0
        Online TA         8    0
NOR     Offline TA/TO     2    0
        Online TA         2    0
OMN     Offline TA/TO     1    0
POL     Offline TA/TO     2    0
        Online TA        10    0
PRI     Online TA         1    0
PRT     Complementary     2    0
        Corporate        13   13
        Direct          174  104
        Groups           26   12
        Offline TA/TO   101  109
        Online TA       223  491
ROU     Direct            2    0
        Offline TA/TO     2    0
        Online TA         7    0
RUS     Direct            2    0
        Offline TA/TO     2    0
        Online TA        12    0
SMR     Corporate         1    0
SRB     Offline TA/TO     1    0
SVN     Online TA         2    0
SWE     Offline TA/TO     2    0
        Online TA         5    0
UKR     Online TA         1    0
USA     Direct            2    0
        Offline TA/TO     2    0
        Online TA        17    0

In [14]:
#pivot table

df_pivot = pd.pivot_table(df, values = 'adults', columns = 'arrival_month_year', index = 'market_segment', aggfunc='sum')

print(df_pivot)

arrival_month_year  Aug-15  Jul-15  Sep-15
market_segment
Complementary          NaN     4.0     1.0
Corporate             24.0    16.0    32.0
Direct               265.0   307.0   323.0
Groups                 9.0    39.0    24.0
Offline TA/TO        261.0   357.0   323.0
Online TA            729.0   955.0   499.0

In [16]:
df[df['arrival_month_year']=='Aug-15']['adults'].sum()

1288

In [17]:
df_pivot['Aug-15'].sum()

1288.0

In [18]:
print(type(df_pivot))

<class 'pandas.core.frame.DataFrame'>