In [1]:
# Control Flow

# 1. Sequential
# 2. Conditional
# 3. Loops

In [3]:
# Sequential

a = 10
#c = a + b
b = 20
c = a+b

print(c)

30

In [8]:
a = 6

if a >=10:
    print('A is greater than or equal to 10')
    if a >= 5:
        print('A is also greater than or equal to 5')

A is greater than or equal to 10
A is also greater than or equal to 5

In [9]:
# if / elif / else - Conditional statements or flow

a = 10

if a > 5: 
    print('Hi')

Hi

In [10]:
if a > 10:
    print('Hi')
else:
    print('Hello')

Hello

In [56]:
a = 11

In [ ]:
# Between if, elif, else - ONLY ONE suite will be executed, whichever is true first.

In [15]:
if a > 10:
    print('Hi')
elif a > 9:
    print('Namaste')
elif a > 8:
    print('Sahvadika')
elif a > 7:
    print('Arigato')
else:
    print('Satsriakal')

Namaste

In [57]:
if a > 10:
    print('Hi')
if a > 9:
    print('Namaste')
if a > 8:
    print('Sahvadika')
if a > 7:
    print('Arigato')
if a > 5:
    print('Satsriakal')

Hi
Namaste
Sahvadika
Arigato
Satsriakal

In [ ]:
# In an if /elif / else block : 

# We can only have one if condition, we MAY or MAY NOT have have multiple elifs, and MAY or MAY NOT have one else suite.

if

if
else

if
elif

if
elif
else

if 
elif
elif
elif
else

In [ ]:
# If can exist with or without else or elif. Elif and else can exist without each other BUT elif and else CANNOT exist without
# the if keyword.

In [16]:
if a>10:
    print('Hi')
    
elif a>9:
    print('Nameste')
    if a>10:
        print('hello')

SyntaxError: invalid syntax (1801586338.py, line 6)

In [19]:
a = ['oil', 'masala', 'paneer']

if 'potatoes' in a:
    print('We can make aloo sabji')
    if 'paneer' in a:
        print('We can also make paneer aloo sabji')
    elif 'mattar' in a:
        print('We can also make mattar aloo')

In [20]:
if 'potatoes' in a or'paneer' in a:
    print('We can make Paneer Aloo Sabji')

We can make Paneer Aloo Sabji

In [29]:
# Ternary operators. Since Python 2.5 we have the ability to write if/else in one line of code

# Ternary operators - you CANNOT use elif. You CAN use nested if else to get desired result. 

a = 10
b = 10

print('A wins' if a > b else 'B wins' if b > a else 'Its a tie')

Its a tie

In [ ]:
if a > b:
    print('A wins')
else:
    if b>a:
        print('B Wins')
    else:
        print('Its a tie')

In [26]:
if a > b:
    print('A wins')
elif b > a:
    print('B Wins')
else:
    print('Its a tie')

Its a tie

In [ ]:
# Loops

# We have two kinds of loops in Python

# For loops - For loops run over an iterable and stop automatically once the end of the iterable(last element) is processed.
# While Loops - Run as long as a condition is True. As soon as the condition defined in the while header becomes false, the
# loop stops running.

In [ ]:
# for <temp_var> in iterable:
#        Indented lines of code which will run for each iteration
#        We can write infinite lines of code indented inside the loop.

In [ ]:
lst1 = ['Pankaj', 'Ramgopal','Aarti', 'Priya', 'Dhananjay']

In [33]:
for name in lst1:
    print(name[0])

P
R
A
P
D

In [36]:
lst1 = [1,2,3,4]

for num in lst1:
    print(num * 5)
    print(num ** 2)

5
1
10
4
15
9
20
16

In [37]:
lst1 = [1,2,3,4]

In [38]:
num = 100
print('Number outside the loop before running is : ', num)

Number outside the loop before running is :  100

In [39]:
for num in lst1:
    print('Number inside the loop is : ', num)

Number inside the loop is :  1
Number inside the loop is :  2
Number inside the loop is :  3
Number inside the loop is :  4

In [40]:
    
print('Number outside the loop after running loop is now : ', num)

Number outside the loop after running loop is now :  4

In [41]:
print(num)

4

In [42]:
# while loops

x = 1

while x < 5:
    print('Hi')
    #x += 1 #Update parameter

Hi
Hi
Hi
Hi

In [43]:
str1 = 'Betty bought some butter but the butter was bitter so Betty bought some bitter butter to make the bitter butter better'

lst1 = str1.split()

print(lst1)

['Betty', 'bought', 'some', 'butter', 'but', 'the', 'butter', 'was', 'bitter', 'so', 'Betty', 'bought', 'some', 'bitter', 'butter', 'to', 'make', 'the', 'bitter', 'butter', 'better']

In [53]:
lstnum = [1,2,3,4,5,6,7,8,9,10]

print(lstnum)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
lstnum.pop()

print(lstnum)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
print(lstnum)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
lstnum.pop()

print(lstnum)

[1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
lstnum.pop()

8

In [49]:
print(lstnum)

[1, 2, 3, 4, 5, 6, 7]

In [50]:
print(lst1)

['Betty', 'bought', 'some', 'butter', 'but', 'the', 'butter', 'was', 'bitter', 'so', 'Betty', 'bought', 'some', 'bitter', 'butter', 'to', 'make', 'the', 'bitter', 'butter', 'better']

In [51]:
while 'was' in lst1:
    lst1.pop()
    
    
print(lst1)

['Betty', 'bought', 'some', 'butter', 'but', 'the', 'butter']

In [ ]:
# It is not necessary to have update parameter explicitly in a while loop. It is usually there but not always.

In [ ]:
# string concatenation
# string multiplication
# string split
# string join

In [ ]:
# *
# **
# ***
# ****






# *********************

In [7]:
print(125*'-')

-----------------------------------------------------------------------------------------------------------------------------

In [5]:
i = 1

while i <= 20:
    print('*'*i)
    i += 1

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************

In [6]:
for x in range(1,21):
    print('*'*x)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************

In [8]:
str1 = 'learnbay'

str2 = str1.upper()

print(str2)

LEARNBAY

In [9]:
print('b'.upper())

B

In [12]:
str1 = 'one flew over the cuckoos nest by ernest hemingway'
# Output = One Flew OVer The Cuckoos Nest By Ernest Hemingway

In [17]:
str2 = ''
for i in range(len(str1)):
    if i == 0 or str1[i-1] == ' ': 
        str2 += str1[i].upper()
    else:
        str2 += str1[i]
        
print(str2)

One Flew Over The Cuckoos Nest By Ernest Hemingway

In [18]:
# string split
# string join

strx = 'Betty bought some butter but the butter was bitter so Betty bought some better butter to make the bitter butter better'

lst1 = strx.split()

print(lst1)

['Betty', 'bought', 'some', 'butter', 'but', 'the', 'butter', 'was', 'bitter', 'so', 'Betty', 'bought', 'some', 'better', 'butter', 'to', 'make', 'the', 'bitter', 'butter', 'better']

In [20]:
str2 = '*'.join(lst1)

print(str2)

Betty*bought*some*butter*but*the*butter*was*bitter*so*Betty*bought*some*better*butter*to*make*the*bitter*butter*better

In [37]:
# Make each first letter of each word a capital and return the complete string. 

# Hint - you will need to use string.upper(), string.split(), string.join(), list.append() methods. Not necessarily in this 
# order. Slicing on string will also be required.

str1 = 'one flew over the cuckoos nest by ernest hemingway.'
lst1 = str1.split()

print(lst1)

['one', 'flew', 'over', 'the', 'cuckoos', 'nest', 'by', 'ernest', 'hemingway.']

In [31]:
print('*'.join(['Bulla', 'Triratna']))

Bulla*Triratna

In [39]:
lst2 = []
for word in lst1:
    lst2.append(word[0].upper()+word[1:])
    #print(lst2)

strjoined = ' '.join(lst2)

print(strjoined)

One Flew Over The Cuckoos Nest By Ernest Hemingway.

In [25]:
print(lst2)

['One', 'Flew', 'Over', 'The', 'Cuckoos', 'Nest', 'By', 'Ernest', 'Hemingway']

In [27]:
tup1 = tuple(lst2)

print(tup1)

('One', 'Flew', 'Over', 'The', 'Cuckoos', 'Nest', 'By', 'Ernest', 'Hemingway')

In [28]:
print(' '.join(tup1))

One Flew Over The Cuckoos Nest By Ernest Hemingway

In [35]:
strx = 'triratna'

strxx = strx[0].upper()+strx[1:]

print(strxx)

Triratna

In [40]:
for x in range(3):
    for y in range(21,24):
        print('Value of x is ',x, '. Value of y is ', y)

Value of x is  0 . Value of y is  21
Value of x is  0 . Value of y is  22
Value of x is  0 . Value of y is  23
Value of x is  1 . Value of y is  21
Value of x is  1 . Value of y is  22
Value of x is  1 . Value of y is  23
Value of x is  2 . Value of y is  21
Value of x is  2 . Value of y is  22
Value of x is  2 . Value of y is  23

In [4]:
x = 1

#while x <= 5:
    print(x*10)
    y = 1
    while y <= 30:
        print(y*2)
        y += 10
    print('-'*125)
    print('Inner while loop finished')
    print('-'*125)
    x += 1

10
2
22
42
-----------------------------------------------------------------------------------------------------------------------------
Inner while loop finished
-----------------------------------------------------------------------------------------------------------------------------
20
2
22
42
-----------------------------------------------------------------------------------------------------------------------------
Inner while loop finished
-----------------------------------------------------------------------------------------------------------------------------
30
2
22
42
-----------------------------------------------------------------------------------------------------------------------------
Inner while loop finished
-----------------------------------------------------------------------------------------------------------------------------
40
2
22
42
-----------------------------------------------------------------------------------------------------------------------------
Inner while loop finished
-----------------------------------------------------------------------------------------------------------------------------
50
2
22
42
-----------------------------------------------------------------------------------------------------------------------------
Inner while loop finished
-----------------------------------------------------------------------------------------------------------------------------

In [15]:
# 0,1,1,2,3,5,8,13,21,34,55,89.... # fibonacci sequence

# Starting with below list, we wish to get the fibonnaci series - till the number touches 100. 
lst1 = [0,1]

In [16]:
while lst1[-1]+lst1[-2] <= 100:
    lst1.append(lst1[-1]+lst1[-2])
    print(lst1)
    
#print(lst1)

[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]
[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13, 21]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [19]:
str1 = 'Sonia'

str1[-2]

'i'

In [21]:
lst1 = [10,20,30,40,50]

lst1[-3]

30

In [26]:
lst1 = ['Python', 'is', 'easy', 'peasy']

for word in lst1:
    str1 = ''
    while len(str1) < 35:
        str1 += word + ' '
    print(str1)

Python Python Python Python Python
is is is is is is is is is is is is
easy easy easy easy easy easy easy
peasy peasy peasy peasy peasy peasy

In [24]:
print(lst1)

['Python', 'is', 'easy', 'peasy']

In [25]:
x = ''
while len(x) < 120:
    for word in lst1:
        x += word + ' '
#         print(x)
#     print(len(x))

print(x)

Python is easy peasy Python is easy peasy Python is easy peasy Python is easy peasy Python is easy peasy Python is easy peasy

In [ ]:
# Break, Continue and Pass keywords

In [ ]:
# Break keyword - as soon as hit in a for loop comes out of the loop immediately.

# continue keyword - continues to the next iteration.

In [40]:
for x in range(10):
    print(x)
    if x > 3:
        break
        print('Hello There')
    print('Hello There')

0
Hello There
1
Hello There
2
Hello There
3
Hello There
4

In [42]:
for x in range(10):
    print(x)
    if x > 3:
        continue
        print('Hello There')
    print('Hello There')

0
Hello There
1
Hello There
2
Hello There
3
Hello There
4
5
6
7
8
9

In [41]:
for x in range(10):
    print(x)
    if x > 3:
        pass
        print('Hello There')
    print('Hello There')

0
Hello There
1
Hello There
2
Hello There
3
Hello There
4
Hello There
Hello There
5
Hello There
Hello There
6
Hello There
Hello There
7
Hello There
Hello There
8
Hello There
Hello There
9
Hello There
Hello There