In [ ]:
# Encoding

# ASCII - 128 characters Ascii
# cp1252 - Windows systems use this kind of encoding. Almost same as Ascii except they use different mapping system.
# Unicode
# UTF8 - 114,000 characters
# UTF16 - 65,000 characters but can be extended to about 135,000
# UTF32 - 90,000 characters

In [ ]:
# Properties of strings

# 1. Fundamental datatype (but have certain properties of derived datatypes i.e. multicharacter string is made up of many
# string characters). 
# 2. Immutable
# 3. Iterable
# 4. Support indexing and slicing but not item or slice assignment.

In [ ]:
# Initialising strings

# Single, double or triple quotes
# str function

In [1]:
str1 = 'Learnbay'
str2 = "Learnbay"
str3 = '''Learnbay'''


print(type(str1))
print(type(str2))
print(type(str3))

<class 'str'>
<class 'str'>
<class 'str'>

In [4]:
str1 = '''My father's sister came to visit'''

print(str1)

My father's sister came to visit

In [14]:
str2 = "She said \"Lets have lunch outside today\" but I refused"

print(str2)

She said "Lets have lunch outside today" but I refused

In [16]:
print('\\\\')

\\

In [6]:
str3 = '''She said "Let's have lunch outside today"'''

print(str3)

She said "Let's have lunch outside today"

In [10]:
str1 = '''kjcklagkalgjalkjhklajjgkjkl                                                    ljaglkajhgjlkajgdgkladjgkl         
kjlagkjgkljggj'''

print(str1)

kjcklagkalgjalkjhklajjgkjkl                                                    ljaglkajhgjlkajgdgkladjgkl
kjlagkjgkljggj

In [17]:
# Initialising strings using string function

x = str(10)

print(type(x))

<class 'str'>

In [19]:
x = str(10.2)

print(type(x))

<class 'str'>

In [20]:
for char in x:
    print(char, end = ', ')

1, 0, ., 2,

In [39]:
y = [1,2,3,4]

print(y)

[1, 2, 3, 4]

In [38]:
str1 = "[1,2,3,4]"

print(str1)

[1,2,3,4]

In [26]:
x = str([1,2,3,4])

print(type(x))
print(x)

<class 'str'>
[1, 2, 3, 4]

In [35]:
for char in x:
    print(char, end = '\n')

F
a
l
s
e

In [42]:
x = str(False)

print(type(x))
print(x)
for char in x:
    print(char, end = '')

<class 'str'>
False
False

In [44]:
print('r', sep = '*')

r

In [47]:
x = str([10,20])

print(x)

[10, 20]

In [48]:
str1 = 'she sells sea shells on the sea shore'

print(str1[0])

s

In [50]:
print(str1[:10:2])

sesls

In [52]:
print(str1[::-2])

eosasetn lesasslses

In [54]:
print(str1[-9])

s

In [55]:
str1[0] = 'S'

TypeError: 'str' object does not support item assignment

In [56]:
print('Hello' + ' ' + 'There')

Hello There

In [57]:
lst1 = [1,2,3,4]
lst2 = [10,20,30,40]

lst3 = lst1+lst2

print(lst3)

[1, 2, 3, 4, 10, 20, 30, 40]

In [58]:
lst1.append(lst2)

print(lst1)

[1, 2, 3, 4, [10, 20, 30, 40]]

In [59]:
str1 = 'ABC'
lst1 = list('DEF')

print(str1)
print(lst1)

ABC
['D', 'E', 'F']

In [61]:
print(lst1+str1)

TypeError: can only concatenate list (not "str") to list

In [62]:
tup1 = tuple('abc')

print(tup1)

('a', 'b', 'c')

In [63]:
print(tup1 + lst1)

TypeError: can only concatenate tuple (not "list") to tuple

In [ ]:
# Overloaded operators can only be used between the same datatype. +, *

In [64]:
str1 = 'abc'

print(str1*5)

abcabcabcabcabc

In [65]:
lst1 = list('ABC')

print(lst1)

['A', 'B', 'C']

In [66]:
print(lst1*5)

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

In [72]:
chkstr = 'India'
inputstr = 'I love India!'

print('India' not in inputstr)

False

In [74]:
print('Python' == 'Python')

True

In [ ]:
# ==, !=, >, <, >=, <=

In [87]:
print('Python' <= 'Pythom')

False

In [76]:
print(ord('P'))

80

In [77]:
print(ord('Q'))

81

In [79]:
print(ord('O'))

79

In [81]:
print(ord('m'))
print(ord('n'))

109
110

In [88]:
print(ord('a'))
print(ord('j'))

97
106

In [89]:
print(ord('b'))
print(ord('i'))

98
105

In [94]:
print('jab' > 'baj')

True

In [ ]:
# 'Python'
# 'Qythom'

In [100]:
print('Python' > 'Pytho')

True

## String methods

In [ ]:
# split
# join
# upper
#

In [101]:
str1 = 'Hi there! My name is Rikki'

lst1 = str1.split()

print(lst1)
print(type(lst1))

['Hi', 'there!', 'My', 'name', 'is', 'Rikki']
<class 'list'>

In [105]:
lst2 = str1.split('e', maxsplit = 2)

print(lst2)

['Hi th', 'r', '! My name is Rikki']

In [103]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [107]:
# join

str2 = 'e'.join(lst2)
print(str2)

Hi there! My name is Rikki

In [109]:
str4 = ''
for x in lst2:
    str4 += x+'e'
    
print(str4[:-1])

Hi there! My name is Rikki

In [129]:
# strip method

str1 = 'Python'
str2 = 'xxxxxyxxxxyyyyxyPythonxyyyyxyyyxy'
str3 = '****Python'
str4 = 'Python   '

print(str1, str2, str3, str4, sep = '\n', end = '')

Python
xxxxxyxxxxyyyyxyPythonxyyyyxyyyxy
****Python
Python

In [116]:
print(str1.strip())

Python

In [130]:
print(str2.strip('xy'))

Python

In [123]:
print(str3.strip('*'))

Python

In [124]:
print(str4.strip('*'))

Python

In [115]:
str5 = '     P y t h o n    '

print(str5.strip())

P y t h o n

In [131]:
print(str2)

xxxxxyxxxxyyyyxyPythonxyyyyxyyyxy

In [132]:
print(str2.rstrip('xy'))

xxxxxyxxxxyyyyxyPython

In [133]:
print(str2.lstrip('xy'))

Pythonxyyyyxyyyxy

In [134]:
str6 = '    Python    '

print(str6.rstrip())

    Python

In [135]:
print(str6.lstrip())

Python

In [136]:
str7 = '     Python     '


print(str7.rstrip().lstrip())

Python

In [140]:
str2=' * *python* * '
print(str2.strip())

* *python* *

In [8]:
# Find method

# Find method finds the FIRST OCCURENCE ONLY from LEFT to RIGHT of the substring provided. 

str1 = 'Betty bought some butter but the butter was bitter'
tofind = 'b'

print(str1.find(tofind))
print(str1.rfind(tofind))

6
44

In [13]:
print(str1[44:])

bitter

In [15]:
print(str1[6:12])

bought

In [18]:
print(str1.find(tofind,7,12))

-1

In [20]:
print(str1.find('but'))

18

In [30]:
print(str1.find('but')+len('but'))

20

In [33]:
print(str1[18:18+len('but')])

but

In [32]:
print(str1[18:21])

but

In [25]:
print(str1)

Betty bought some butter but the butter was bitter

In [27]:
print(str1.find('bught'))

-1

In [3]:
# Find all the occurrences of 'b' in given string. 

str1 = 'Betty bought some butter but the butter was bitter'

# You will have to use the start finding from parameter of the find method. And you will need a for or while loop.

idx = 0

for x in range(len(str1)):
    if str1[x] == 'b':
        print(x)

6
18
25
33
44

In [4]:
idx = 0
temp = 0

while temp != -1:
    x = str1.find('b', idx)
    print(x)
    temp = x
    idx = x + 1

6
18
25
33
44
-1

In [9]:
idx = 0

while True:
    x = str1.find('b', idx)
    if x == -1:
        break
    else:
        print(x)
    idx = x + 1

6
18
25
33
44

In [13]:
# Index method. Returns the first occurrence of the substring to be found. 

str1 = 'Betty bought some butter but the butter was bitter'

print(str1.index('b',7,43))

18

In [16]:
# The difference between find and index is: 

print(str1.find('x'))
print('Hello')

-1
Hello

In [17]:
print(str1.index('b'))

print('Hello')

ValueError: substring not found

In [18]:
print(str1)

Betty bought some butter but the butter was bitter

In [30]:
print(str1.count('but',0,28))

2

In [22]:
str1[15:20]

'me bu'

In [28]:
print(str1[18:28])

butter but

In [38]:
# Replace method

str1 = 'Rikki Rikki Rikki'
str2 = str1.replace('ik', 'xyz', 4)

In [39]:
print(str2)

Rxyzki Rxyzki Rxyzki

#### Case changing methods

In [40]:
# upper

str1 = 'Betty bought some butter'

print(str1.upper())

BETTY BOUGHT SOME BUTTER

In [41]:
print(str1.lower())

betty bought some butter

In [42]:
x = '\u0392'

print(x)

Β

In [43]:
print(x == 'B')

False

In [44]:
y = '\u03B2'

print(y)

β

In [47]:
print(x.lower())
print(x.casefold())

β
β

In [46]:
print(y.upper())

Β

In [48]:
# casefold

x = "\u1E9E"

print(x.lower())
print(x.casefold())

ß
ss

In [52]:
# capitalize method

str1 = 'betty bought some butter but the butter was bitter.rikki also bought some butter'

print(str1.capitalize())

Betty bought some butter but the butter was bitter.rikki also bought some butter

In [53]:
# Title method

print(str1.title())

Betty Bought Some Butter But The Butter Was Bitter.Rikki Also Bought Some Butter

In [54]:
# Swapcase

str1 = 'bETTy bOughT sOMe Butter'

print(str1.swapcase())

BettY BoUGHt SomE bUTTER

In [65]:
# startswith and endswith

str1 = 'Betty bought some butter.'

print(str1.startswith('b', 6))

True

In [63]:
print(str1[6])

b

In [69]:
print(str1.endswith('t', 0,12))

True

In [68]:
print(str1[0:12])

Betty bought

In [89]:
str1 = 'LovishM'

str2 = str1.center(20,'*')

print(str2)
print(len(str2))

******LovishM*******
20

In [79]:
str2[0:6]

'      '

In [80]:
str2[14:]

'      '

In [91]:
str1 = 'LovishM'

print(str1.ljust(10,'*'))

LovishM***

In [92]:
print(str1.rjust(10,'*'))

***LovishM

In [106]:
str1 = 'Jack and Jill went up the hill to fetch a pail of water'

lst1 = str1.split('i')

print(str2)

['Jack and J', 'll went up the h', 'll to fetch a pa', 'l of water']

In [110]:
lst2 = str1.rpartition('i')

print(lst2)

('Jack and Jill went up the hill to fetch a pa', 'i', 'l of water')

In [109]:
lst2[-1]

'll went up the hill to fetch a pail of water'

In [102]:
# Difference between split and partition.

# 1. Split will split based on all occurrences of separator. The results could be infinite in number. 
# Partition will only split on first occurrence of separator and will only return 3 elements, before separator, separator
# itself and after separator.

# 2. For split default separator is space. For partition we MUST give the separator as an argument.

# 3. Split takes an optional parameter i.e. max count of splits. No such option required or available in partition.

# 4. Split returns a list while partition returns a tuple. 

# 5. Split does not include the separator in its output. Partition does as one of the elements.

In [114]:
a='python'
b=''
print(a and b)

In [113]:
# and operator - value on left if left is false else value on right

a = 100
b = 0

print(a and b)

0

In [ ]:
# Strings 

# Properties

# 1. Fundamental
# 2. Immutable
# 3. Iterable
# 4. Subscriptable - but does not support assignment

In [ ]:
# String methods

# strip, join, split, partition, rpartition, find, rfind, index, rindex, replace, center, ljust, rjust, count, startswith,
# endswith

# Case changing methods

# upper, lower, capitalize, title, swapcase, casefold

In [ ]:
# Splitlines method

In [ ]:
# \n
# \r
# \r\n

In [12]:
str1 = 'Horses are majestic animals\rZebra'

print(str1)

Zebra

In [14]:
str1 = 'Jack and Jill \r went up the hill \n to fetch a pail of water \r\n Jack fell down and broke his crown \
\n and Jill came tumbling after'

print(str1)

 went up the hill
 to fetch a pail of water
 Jack fell down and broke his crown
 and Jill came tumbling after

In [15]:
lst1 = str1.splitlines()

print(lst1)

['Jack and Jill ', ' went up the hill ', ' to fetch a pail of water ', ' Jack fell down and broke his crown ', ' and Jill came tumbling after']

In [20]:
strx = ''.join(lst1)
print(strx)

Jack and Jill  went up the hill  to fetch a pail of water  Jack fell down and broke his crown  and Jill came tumbling after

In [16]:
lst2 = str1.splitlines(keepends = True)

print(lst2)

['Jack and Jill \r', ' went up the hill \n', ' to fetch a pail of water \r\n', ' Jack fell down and broke his crown \n', ' and Jill came tumbling after']

In [22]:
lst2[1] = 'went up the mountain \n'

print(lst2)



str2 = ''.join(lst2)

print(str2)

['Jack and Jill \r', 'went up the mountain \n', ' to fetch a pail of water \r\n', ' Jack fell down and broke his crown \n', ' and Jill came tumbling after']
went up the mountain
 to fetch a pail of water
 Jack fell down and broke his crown
 and Jill came tumbling after

In [28]:
# zfill method

x = '-1010'

y = '+11100'

x8bit = x.zfill(8)
y8bit = y.zfill(8)

print(x8bit)
print(y8bit)

-0001010
+0011100

In [24]:
str1 = 'Learnbay'

print(str1.zfill(16))

00000000Learnbay

### String testing methods

In [29]:
# isalpha

str1 = 'Learnbay'

print(str1.isalpha())

True