# Operators in Python

In [ ]:
#Operators in Python are symbols that perform operations. They perform operations on values or variables. The values or
# variables are called operands. For e.g. - 

# 10 + 20

#Here - 10 & 20 are the operands. + is the operator (an arithmetic operator).

# a <= b

#Here - a & b are the operands. <= is the operator(a comparison operator)

In [ ]:
# Binary operat

In [ ]:
-10

In [ ]:
20-10

In [ ]:
(20-10)+5)

In [ ]:
# An operator working on one operand is called a unary operator. 
# An operator working on two operands is called a binary operator.

In [ ]:
# A ternary operator also called a conditional operator - returns a value based on a binary condition. It takes a binary
# condition as an input and returns a value. So, it is similar to an if else condition block but can be executed in one
# line and returns an output like a function. More on this later.

In [ ]:
#Operators are also classified by the type of operations they perform: 

#1. Arithmetic Operators 
#2. Bitwise Operators, unary not operator
#3. Assignment Operators
#4. Unary Operator (minus and bitwise not)
#5. Relational Operators
#6. Logical / Boolean Operators + Ternary Operators
#7. Membership Operators
#8. Identity Operators

In [ ]:
print(bool(None))

In [ ]:
+,-,*,/,//,%,** - Arithmetic operators

In [ ]:
==, !=, >, <, >=, <= - Comparison or relational operators

In [ ]:
=, (arithmetic operators)= <compound assignment>

In [ ]:
a = 10

print(a)

In [ ]:
# Compound assignemnt

a = 10

a += 5 # a = a + 5

print(a)

In [ ]:
print(5**3)

In [ ]:
print(64**(1/3))

In [ ]:
a = 10
a %= 3

print(a)

In [ ]:
print('a' not in 'Learnbay')

In [ ]:
in, not in - membership operators

In [ ]:
is, is not - identity operators

In [ ]:
x = 100
y = 100
z = x

print(x is y)
print(x is z)
print(x == y)
print(x == z)

### Arithmetic Operators

In [ ]:
# The plus + operator - Adds two values on either side of the operator. 

print(10+20)

In [ ]:
x = 10 ; y = 20

print(x+y)

In [ ]:
#The minus - operator - Subtracts the value on the right side from the value on the left. 

print(10-20)

In [ ]:
print(x-y)

In [ ]:
#The multiplication * operator - Multiplies the two values on either side of the operator

print(10*20)

In [ ]:
print(x*y)

In [ ]:
# The division / operator - divides the left side value (numerator) by the value on the right (divisor or denominator).

print(40/20)

In [ ]:
print(x/y)

In [ ]:
#The floor division // operator - divides the left side value (numerator) by the value on the right (division or denominator)
# but returns ONLY the whole number of the result. The remainder is discarded. 

print(10//3)

In [ ]:
z = 3

print(x//z)

In [ ]:
# The modulo or modulus operator (shortened to mod in practical use) % - divides the left side value (numerator) by the
# value on the right(divisor or denominator) but returns ONLY the remainder. The whole number before the remainder is 
# ignored. Returns 0 if no remainder from the division operation. 

print(10%3)

In [ ]:
print(x%z)

In [ ]:
# The exponent ** operators - Raises the value on the left to the power of the value on the right. 

print(10**3)

In [ ]:
print(x**z)

In [ ]:
# The root of a number can derived by using (1/x) along with the exponent ** operator. Note though, due to floating point
# errors - the result may not be exactly as expected. 

print(8**(1/3))

In [ ]:
print(4/2)

In [ ]:
#When there are multiple operations to be performed, the PEMDAS (same as BODMAS) criteria for order of operations priority
# is used.

# Parenthesis          - Brackets
# Exponents            - Of (Power or root)
# Multiplication, division, floor division and modulos - Division, Multiplication
# Addition, Subtraction - Addition, Subtraction

#x = 58 / (4 x 5) + 3**2

#Here parenthesis will be evaluated first. 

#So, x = 58 / 20 + 3**2

#Then exponents

#So, x = 58 / 20 + 9

#Next is the division or multiplication

#So, x = 2.9 + 9

#And finally, the addition

#So, x = 11.9

print(58/(4*5)+ 3**2)

In [ ]:
# However, since we have a lot of other operators in Python besides arithmetic, the expanded order of evaluation table is
# given below in descending order (operators higher than the ones below will be evaluated first).

In [ ]:
# Operator                       Name
# ()                             Parenthesis
# **                             Exponentiation
# -,~                            Unary minus, Bitwise complement(Bitwise Not)
# *,/,//,%                       Multiplication, Division, Floor division, Modulus
# +,-                            Addition, Subtraction
# <<,>>                          Bitwise left shift, Bitwise right shift
# &                              Bitwise AND
# ^                              Bitwise XOR
# |                              Bitwise OR
# >,>=,<,<=,==,!=                Relational (comparison) operators
# =,%=,/=,//=,-=, +=,*=,**=      Assignment operators
# is,is not                      Identity operators
# in,not in                      Membership operators
# not                            Logical not
# or                             Logical or
# and                            Logical and -->

### Bitwise Operators

In [ ]:
#Bitwise operators

#1. Bitwise and - & operator. Sets the bit to 1 if both bits are 1 else 0. 

x = 237 ; bx = bin(x)
y = 524 ; by = bin(y)

print(x, bx)
print(y, by)

print(type(bin(x)))

In [ ]:
print(int(0b1100))

In [ ]:
print(x&y)

In [ ]:
0011101101
1000001100

-----
0000001100

In [ ]:
1010
0101

_____
0000

In [ ]:
0101
1100

0100

In [ ]:
# 0101 - 5
# 1100 - 12

______

0100 = 4

In [ ]:
print(5&10)

In [ ]:
print(5&12)

In [ ]:
print(bin(17))
print(bin(54))

In [ ]:
010001
110110

010000

In [ ]:
x = 17
y = 54


print(x&y)

In [ ]:
print(int(0b100))

In [ ]:
010001
110110

_______
010000

In [ ]:
0000000000010001

In [ ]:
print(x&y, bin(x&y))

In [ ]:
x = 66
y = 78

# 1000010 - 66
# 1001110 - 78

# 1000010

# 1000010 - 66

In [ ]:
print(x&y, bin(x&y))

In [ ]:
x = 0b1010

print(x)

In [ ]:
print(1011 & 1111)

In [ ]:
#2. Bitwise Or - | operator. Sets the bit to 1 if either of the bits is 1 else 0. 

x = 150 ; bx = bin(x)
y = 777 ; by = bin(y)

print(x, bx)
print(y, by)

In [ ]:
0010010110
1100001001
------
1110011111

In [ ]:
print(int(0b1110011111))

In [ ]:
print(x|y)

In [ ]:
# 0101
# 1100

_______
1101


Or - Both are 0 - then 0
If both or even 1 is 1 = then 1

XOR = Both are 0 or 1 = 0
If either is 1 = 1

In [ ]:
x = 4229
y = 179

In [ ]:
1000010000101
0000010110011

_____________
1000010110111

In [ ]:
print(x | y)

In [ ]:
#3. Bitwise XOR - ^ operator. Sets the bit to 1 if either (but not both) of the bits is 1 else 0. 

x = 5 ; bx = bin(x)
y = 12 ; by = bin(y)

print(x, bx)
print(y, by)

In [ ]:
0101
1100

____
1001

In [ ]:
print(int(0b1001))

In [ ]:
print(x^y)


# 0101
# 1100
#_______
# 1001

In [ ]:
x = 4279
y = 179

print(bin(x))
print(bin(y))

In [ ]:
1000010110111
0000010110011

_____________

1000000000100

In [ ]:
z = 0b1000000000100

print(z)

In [ ]:
print(x^y)

In [ ]:
print((5&10)&20)

In [ ]:
00101
01010

00000

10100

00000

In [ ]:
#Step 1

0 1010010

1 0101100+1  - Negative rep of above number

1 1010011

0 0000000
1 1111111


-(n+1)

In [ ]:
#4. Bitwise Not - ~ operator. Only works on one operand. It reverses the bits of the binary representation of the integer. 
# Returns signed twos complement of the integer n i.e. -(n+1)

x = ~1

print(x)

#-(n+1)

In [ ]:
-(-10+1)

In [ ]:
print(bin(-5))

In [ ]:
print(~4279)

In [ ]:
-(n+1)

-(4279+1)

In [ ]:
print(~-4279)

In [ ]:
-(n+1)
-(-4279+1)
4278

In [ ]:
x = 179

print(~x)

In [ ]:
x = -179

print(~x)

In [ ]:
# 0000 0000 = +0
# 1111 1111 = -0

# 0000 1000
# 1111 0111                       + 1 = 2 complement

# 1111 1000

-9
0000 1001
1111 0110 + 1

1111 0111 = 


0000 1000
1111 0111

0000 1001
1111 0110+1 
1111 0111

In [ ]:
# 0000 1000

# 1111 0111

In [ ]:
x = -11

-(-11+1)
print(~x)

In [ ]:
10 = - (10+1) = -11

-11 = -(-11+1) = 10



0 1010
1 0101 - Not of 10

0(MSB) + 7bits magnitude

1(MSB) + 0101 + 1

1(MSB) + 0110

0 + 1001 + 1
1010

0 1010
1 0101

11

0 1011
1 0100 +1

1 0101 - Negative 11

In [ ]:
x = 79

print(~x)

In [ ]:
x = -79

print(~x)

In [ ]:
# A disclaimer here - the bin() function output of a negative number in Python is not really how negative numbers
# are represented in binary.

print(bin(-6))

print(bin(-9))

In [ ]:
0101 = 5
1010+1 = 1011

In [ ]:
a = 10

a &= 5 # a = a & 5

print(a)

In [ ]:
print(10 & 5)

In [ ]:
print(~-1)

In [ ]:
# Negative numbers in binary

# Binary numbers can be signed or unsigned.

# For unsigned binary integers - only positive values are possible i.e. 

#0001 1011 = 27 (even though the first bit is 1 it is an unsigned integer so value is positive 27)

# However, for signed integers, the first bit on the left is always the sign. 

# Positive 27 would actually be represented in 8 bit as : 

# 0 (MSB) 001 1011 - MSB + 7 bits of magnitude

# Negative numbers are represented in binary by their 2's complement i.e. inverting all the bits and adding 1.

# 1 (MSB) 110 0100 + 1 = 1 110 0101

In [ ]:
# Bitwise Not operator, at work in binary.

# 5 in 8-bit binary is = 0(MSB) 000 0101. Its NOT is 1(MSB) 111 1010.
# The NOT of 5 we are expecting is -(5+1) = -6

# -6 in binary is:

#6 = 0(MSB) 000 0110, inverted is 1(MSB) 111 1001 + 1 (2s complement to get negative rep in binary) = 1(MSB) 111 1010 is -6

# If you notice the binary representation of -6 is the same as the Bitwise NOT of 5.

0101 - 5 in binary
1010 - Not of 5 in binary
-(5+1)

6
0110 - Positive 6
1001+1 - Invert bits and add 1
1010 - Negative 6 in binary (same as not of 5)

0101+1 = Invert bits and add 1 to Convert negative 6 back to positive. 
0110 = Positive 6


01010 - 10 in binary
10101 - Not of 10 in Binary

01011 - Positive 11
10100+1 - Invert bits and add 1
10101 = Negative 11 in binary (Same as Not of 10)

01010+1

01011 = 11

1(MSB) + 11 = -11

- 27 in binary

011011 = Positive
100100+1 = 100101 = -27

100101 - 
011010 - Not of 27 



011011 - Positive 27
100100 + 1 - Invert bits and add 1
100101 - Negative 27 in binary

011010 - Not of negative 27 in binary which is also positive 26


-(-27+1) = 26

-79 in binary

0101111 - Positive 79 in binary
1010000+1 - Invert bits and add 1
1010001 - Negative 79

0101110 - Not of negative 79, 78 = -(-79+1) = 78

In [ ]:
print(5, bin(5))
print(-6, bin(6), bin(-6))

#Note how the bin() function in Python only adds a -sign before the POSITIVE bit representation of the number. Again, this
# is not really how negative numbers are represented in binary machine code.

In [ ]:
#Negative NOT example.

# -21 in binary is
# 21 = 0(MSB) 001 0101, its inverse is 1(MSB) 110 1010 + 1(2s complement to get neg rep in binary ) = 1(MSB) 110 1011 is -21

#The complement of -21 we are expecting is -(-21+1) = 20

# NOT of -21 = 1(MSB) 110 1011 = 0(MSB) 001 0100 = 20

#As observed, the binary representation of 20 is the same as the bitwise NOT of -21

In [ ]:
print(-21, bin(21), bin(-21))
print(20, bin(20))

In [ ]:
    10100

In [ ]:
01010

In [ ]:
print(5 << 3)

In [ ]:
# shift 1
5 * 2 = 10

# shift 2

5 * (2**2) = 20

# shift 3

5 * (2**3) = 40

In [ ]:
101000

In [ ]:
#Bitwise left shift. Moves the binary numbers specified number of spaces to the left and fills the specified number of zeros
# to the right of the binary number - in effect multiplying the result by 2 for each shift. 

print(5 << 1)

000101
001010
010100
101000

# 0000 0101 = 5
# 0000 1010 = 10
# 0001 0100 = 20
# 0010 1000 = 40

In [ ]:
print(int(0b000101000))

In [ ]:
101000
010100
001010
000101
000010
000001
000000

In [ ]:
print(int(0b0))

In [ ]:
101 < 1 - 5

1010 = 10

101 < 2

10100 = 20

101 < 3 

101000 = 40

5 x 8 (2**3) = 40

In [ ]:
print(17 << 4)

In [ ]:
print(11 << 3)

In [ ]:
1010  = 10

10100 = 20

1010 = 10 #2 spaces left shift
101000 = 40

1010 = 10 #3 spaces left shift
1010000  = 80

In [ ]:
x = 39

print(x << 4)

In [ ]:
1010 > 1 # 10

101 # 5

10 # 2

1 # 1

0 # 0

In [ ]:
1010 # right shift

101 # 1 right shift  = 5
10  # 2 right shift  = 2
1   # 3 right shift  = 1
0   # 4 right shift  = 0

In [ ]:
0 000 1010

0 000 0000 0000 1010

In [ ]:
1010 > 1  - 10

0101 = 5

1010 > 2

0010 = 2

1010 > 3

0001 = 1

1010 > 4

0000 = 0


# Left shift (number x (2**num of shifts))

# Right shift (number / (2**num of shifts)) - dropping decimals(remainders) along the way

In [ ]:
x = 100

print(x >> 7)

In [ ]:
#Binary representation of 10 = 0000 1010.
#Left shift 1 = 0001 0100 = 20
#left shift 2 - 0010 1000 = 40
#Left shift 3 = 0101 0000 = 80

In [ ]:
#Bitwise right shift. Moves the binary numbers specified number of spaces to the right and fills zeros to the left. It lets
# any numbers overfilling the binary representation to fall off. In effect, dividing the binary number by 2 for every shift
# and remainders also fall off

print(20 >> 1)


# 0001 0100 = 20 
# 0000 1010 = 10
# 000 0101 = 5
# 000 0010 = 2
# 000 0001 = 1
# 000 0000 = 0

In [ ]:
print(100 >> 7)

In [ ]:
print(10 >> 3)

In [ ]:
print(10 >> 4)

In [ ]:
#Binary represenation of 10 = 0000 1010

# Right shift 1 = 0000 0101 = 5
# Right shift 2 = 0000 0010 = 2
# Right shift 3 = 0000 0001 = 1
# Right shift 4 = 0000 0000 = 0

In [ ]:
print(13 << 3)

In [ ]:
print(bin(13))

#1101

In [ ]:
1101 = 13
11010 = 26
110100 = 52
1101000 = 104

In [ ]:
print(13 >> 3)

In [ ]:
print(13 >> 3)

In [ ]:
#Binary operataors - and, or, xor, not, left shift and right shift.

### Assignment operators

In [ ]:
#1. Assignment operator = assigns the value (or expression after evaluation) on the right to a variable on the left. 

x = 20
print(x)

In [ ]:
x += 10 # x = x + 10

print(x)

In [ ]:
x |= 10

print(x)

In [ ]:
x = 20

x ^= 2

print(x)

In [ ]:
10100
00010

In [ ]:
+,-,*,/,%,//,**,&,|,~,^,<<,>>      along with = sign to perform compound assignment

In [ ]:
x = 20*2
print(x)

In [ ]:
x = 40
y = 30

In [ ]:
z = 'Python' if x>=y else 'Python'[::-1]
print(z)

In [ ]:
# The equal to = operator can also be used in one single line to update the value of varibale on the left. 

x = 20


x += 100

print(x)

In [ ]:
x = 20
x = x + 100
print(x)

In [ ]:
# Also, it can be used to assign multiple variables with the same value in the same line. 

a = b = 30

print(a,b)
print(a is b)

In [ ]:
a = b = c = 70000

print(a,b,c)

print(a is b is c)

In [ ]:
x = 70000
y = 70000

print(x is y)

In [ ]:
print(a is b)
print(b is c)

#As you can see, basically aliasing on the same object has been performed.

In [ ]:
#Also, multiple values to multiple variables can be assigned at the same time.

In [ ]:
a,b = 1,2

print(a,b)

In [ ]:
a,b = 100,

print(a)
print(b)

In [ ]:
#Compound assignment operators
#1. += Updates the value of the variable by adding specified value to the value of the variable

x = 20
x += 100
print(x)

In [ ]:
#2. -= Updates the value of the variable by subtracting specified value from the variables value.

x = 20
x -= 100  # x - 100
print(x)

In [ ]:
#3. *= Updates the value of the variable by multiplying the variables value by specified value

x = 20
x *= 100 # x * 100
print(x)

In [ ]:
#4. /= Updates the value of the variable by dividing the variables value by specified value

x = 20
x /= 100
print(x)

In [ ]:
#5. **= Updates the value of the variable by raising the variables value by power of specified value

x = 2
x **= 4
print(x)

In [ ]:
#6. //= Updates the value of the variable by performing floor division on the variables value by specified value

x = 14
x //= 4
print(x)

In [ ]:
#7. %= Updates the value of the variable by performing modulos operation on the variables value by specified value

x = 14
x %= 4
print(x)

In [ ]:
#8. &= Updates the value of the variable by performing Bitwise & operation on the variables value by specified value

x = 14

print(bin(14), bin(4))

x &= 4
print(x, bin(x))

# 1110
# 0100

# 0100

In [ ]:
#9. |= Updates the value of the variable by performing bitwise Or operation on the variables value by specified value

x = 14
print(bin(14), bin(4))

x |= 4
print(x, bin(x))

In [ ]:
#10 ^= Updates the value of the variable by performing bitwise XOR operation on the variables value by specified value

x = 14
print(bin(14), bin(4))

x ^= 4
print(x, bin(x))

In [ ]:
#11. = Updates the value of the variable by performing bitwise left shift operation on the variables value by specified
# value

x = 14

print(bin(14))

x <<= 4

print(x, bin(x))

In [ ]:
#12. >>= Updates the value of the variable by performing bitwise right shift operation on the variables value by specified
# value

x = 142

print(bin(142))

x >>= 3
print(x, bin(x))

In [ ]:
10100 = 20

In [ ]:
101000 = 40

In [ ]:
10100 = 20
1010 = 10

In [ ]:
#However, compound assignment is not supported by multiple value assignment. 

a,b = 1,2

print(a,b)

In [ ]:
a,b += 2

print(a,b)

### Unary Minus Operator

In [ ]:
#Unary Minus Operator. Assigns negative of the value specified to the variable. 

a = 100
b = -a

print(b)

In [ ]:
a = -100
b = -a

print(a, b)

### Relational operators

In [ ]:
#Relational operators compare two values and return a boolean value true or false depending on the operators specified.
# They do not work between datatypes (except integer and float comparison).

# We have seen the use of relationship operators between the datatypes String, Lists, Tuples, Dictionaries and Sets
# individually during the study of the datatypes. So, here we are only focusing on the use of these operators between
# numbers.

In [ ]:
#1. Equality operator == 

x = 10
y = 20

print(x==y)

#The equality operator is denoted by two = signs (==) and is different from the assigment equal to = operator which is only
# one = sign.

In [ ]:
x = 10
y = 10

print(x==y)

In [ ]:
#2. Not equals != operator. Checks if value on the left is not equal to value on the right and returns True or False.

x = 10
y = 20
z = 10

print(x!=y)

In [ ]:
print(x != z)

In [ ]:
print(y!=x)

In [ ]:
print(y!=z)

In [ ]:
#3. Greater than > operator checks if value on the left is greater than value on the right. 

x = 10
y = 20

print(x>y)

In [ ]:
print(y>x)

In [ ]:
#4. Less than < operator checks if value on the left is less than value on the right. 

print(x<y)

In [ ]:
print(y<x)

In [ ]:
#5. Greater than or equal to >= operator - checks if value on the left is greater than OR equal to value on the right. 

x = 10
y = 20
z = 10
p = 5

print(x>=y)

In [ ]:
print(x>=p)

In [ ]:
print(x>=z)

In [ ]:
#6. less than or equal to <= operator - checks if value on the left is less than OR equal to value on the right. 

x = 10
y = 20
z = 10
p = 5

print(x<=y)

In [ ]:
print(x<=p)

In [ ]:
print(x<=z)

In [ ]:
# Relational operators can be 'chained' i.e. multiple relations checked at once. 


x = 20
y = 10
z = 10
p = 5

print(p<=y>z<=x)

In [ ]:
print(p<y<=z>x)

In [ ]:
print(p<y<z<x)

In [ ]:
#However, note that if all the expressions in the chained relationship comparison return True - only then will we get a 
# True result. If any one of the expressions evaluates to False - the whole chain will return a False.

In [ ]:
# They are most often used in if - elif - else condition statements. 

x = 10 ; y = 15

if x > y:
    print('Greater')
else:
    print('Less than')

### Logical Operators / Boolean Operators

In [ ]:
# Logical operators are useful to construct compound conditions. A compound condition is a combination of more than one
# simple condition. Each of the simple conditions is evaluated to True or False and then the decision is taken to know
# whether the total condition is True or False. We should keep in mind that in case of logical operators, False indicates
# 0 and True indicates any other number.

In [ ]:
and, or, not

In [ ]:
#not, or, and

In [ ]:
print(not True)

In [ ]:
print(not False)

In [ ]:
# True equals 1, False equals 0

In [ ]:
Zero or empty string or None evaluates to False
Non-empty string or Non zero evaluates to True

In [ ]:
print(bool(None))

In [ ]:
# and operator - used with if/else needs BOTH conditions to be True to be considered True

In [ ]:
a = True
b = True

if a or b:
    print('At least one of the conditions is True')
else:
    print('Both conditions are false')

In [ ]:
a = 200
b = 100
c = 0

print(bool(a))
print(bool(b))
print(bool(c))

In [ ]:
x = a or b

In [ ]:
# Non-Empty strings, Non-Zero number - EVALUATES to True
# Empty strings, Zero and None - EVALUATE to False

In [ ]:
x = 10
y = 20
z = 30

if x > y or y > z:
    print('True condition')
else:
    print('False Condition')

In [ ]:
# and = if both true then true else false
# or = if either condition true then true else false
# not = if true then false if false then true

In [ ]:
print('True Condition' if x> y or y > z else 'False condition')

In [ ]:
#And operator - Applied to two operands - returns value on the left if it is false. Else returns value on right. 

a = 100
b = True
c = False
d = 0
e = 5
print(c and b)

In [ ]:
a = 100  # True
d = 0    # False

In [ ]:
a = 10
b = 11
c = 0
d = 20
e = False
f = ''
g = 0

print(e and c)

In [ ]:
a = b = True
c = False
d = True

print(a or b)

In [ ]:
a = 10
b = 20
c = 0
d = False
if a:
    print('True')
else:
    print('False')

In [ ]:
print(d and a)

In [ ]:
x = 10
y = 20
z = 0

print(x and y)

In [ ]:
print(z and y)

In [ ]:
print(y and z)

In [ ]:
print(y and x)

In [ ]:
#Or operator - Applied to two operands - returns value on the left if True, Else returns value on the right. 

a = 100
b = True
c = False
d = 0


print(d or c)

In [ ]:
and = Returns value on the left if False. Otherwise value on the right
or = Returns value on the left if True. Otherwise value on the right

In [ ]:
a = 10
b = 20
c = 30
d = 0

In [ ]:
#not, or, and

a = 100
b = 0
c = 'Python'
d = False
print(c and a or b)

In [ ]:
print(c and a)

In [ ]:
print(100 or b)

In [ ]:
print(c or a and b)

In [ ]:
print(c and a and b)

In [ ]:
print((a and b) or (c or d))

print(a and b or c or d)

In [ ]:
print((a and b) or c)

In [ ]:
print(a and b or c)

In [ ]:
print(a or b and c and d)

In [ ]:
print(a or (b and (c and d)))

In [ ]:
print(b and c and d or a)

In [ ]:
1. C is true. Then it stops right here and gives value of c. 
2. c is False - then it needs to check d. But irrespective of whether d is true or false - it has to stop here and will give
value of d.

In [ ]:
print(b or a)

In [ ]:
print(b or c)

In [ ]:
print(c or c)

In [ ]:
print(0 or False)

In [ ]:
x = 10
y = 20
z = 0
p = 0.0

In [ ]:
print(x or y)

In [ ]:
print(z or y)

In [ ]:
print(y or z)

In [ ]:
print(z or p)

In [ ]:
print(z or p)

In [ ]:
#Not operator - Applied on one operand and returns opposite of the boolean value of the operand

a = b = True
c = False

print(not 5>20)

In [ ]:
print(not b)

In [ ]:
print(not c)

In [ ]:
print(x)

In [ ]:
print(not x)

In [ ]:
print(y)

In [ ]:


print(not y)

In [ ]:
z = 1

print(z)

In [ ]:
print(not z)

In [ ]:
(cond1   and      cond2)  or        cond3

In [ ]:
#Logical operators can also be chained

# The order of precedence is - Not, or, and - in this order.

p = 0
q = 10
r = 20 
s = 30

print(q and p and s) # First evaluates the first and condition. If True, moves on to evaluate the 2nd and condition and 
# returns this value. If not, then as rules for only two operands - returns q if q is false, else r.

In [ ]:
print(q and r and p) # First evaluates the first and condition. If True, moves on to evaluate the 2nd and condition and 
# returns the value. If not, then as rules for and operator for only two operands - returns q if q is false, else r.

In [ ]:
p = 0
q = 10
r = 20
s = 30

print(q and p and r) # First evaluates the first and condition. If True, moves on to evaluate the 2nd and condition and
# returns the value. If not, then as rules for and operator for only two operands - returns q if q is false, else r.

In [ ]:
p = 0
q = 10
r = 20
s = 30

print(s and q and r) # First evaluates the first and condition. If True, moves on to evaluate the 2nd and condition and
# returns the value. If not, then as rules for and operator for only two operands - returns q if q is false, else r.

In [ ]:
p = s = 0
q = 10
r = 20


print(s or q or p) # First evaluates the first or condition. If either of the operands return True, then returns the first
# operand that returned True, else returns the result of the second or condition.

In [ ]:
print(q or p or r) # First evaluates the first or condition. If either of the operands return True, then returns the first
# operand that returned True, else returns the result of the second or condition.

In [ ]:
p = s = 0
q = 10
r = 20

print(p or s or r) # First evaluates the first or condition. If either of the operands return True, then returns the first
# operand that returned True, else returns the result of the second or condition.

In [ ]:
p = s = False
t = 0
q = 10

print(p or s or t) # First evaluates the first or condition. If either of the operands return True, then returns the first
# operand that returned True, else returns the result of the second or condition.

In [ ]:
p = s = False
t = 0
q = 20
u = True
v = 30

print(q and u or v) #As per order precedence, needs to evaluate if the or condition first. However, since the FIRST operand
# operand on left is itself a logical operand - needs to evaluate that based on the rules for the respective logical operator.

In [ ]:
print(q and s or v) #As per order precedence, needs to evaluate if the or condition first. However, since the FIRST operand
# on left is itself a logical operand - needs to evaluate that based on the rules for the respective logical operator.

In [ ]:
print(1 or 1 and 0)

In [ ]:
p = s = False
t = 0
q = 10
u = 20
v = 30



print(t or v and q) # #As per order precedence, needs to evaluate the or condition first. Since, q is already true it
# returns value of q.

In [ ]:
#print(q and u or v) # As per order precedence, needs to evaluate the or condition first. Since, t is false, it moves on to
# evaluating - u and v(as the right side operand of the or condition). As per the logical operator rules, it returns the 
# value on the right if the left value is true. If the value on the left of the logical and operator is false, then returns
# that value. 

print(q, u, v)

z = print(q) and print(u) or print(v)

In [ ]:
p = s = False
t = 0
q = 10
u = 20
v = 30

print(q and v and s or t or u and q) # As per order precedence, needs to evaluate the or condition first. Since, t is false, it moves on to
# evaluating - u and v(as the right side operand of the or condition). As per the logical operator rules, it returns the 
# value on the right if the first value is true. If the value on the left of the logical and operator is false, then returns
# that value.

In [ ]:
p = s = False
t = 0
q = 10
u = 20
v = 30

print(s or not t)

In [ ]:
print(not t or s)

In [ ]:
print(q or not t)

In [ ]:
print(s or not t)

In [ ]:
p = s = False
t = 0
q = 10
u = 20
v = 30

print(not t or q)

In [ ]:
print(not q or v)

print([1,2,3] and 'string')

In [ ]:
# Logical operators are often used with if - elif - else conditions:

p = s = False ; t = 0 ; q = 10 ; u = 20 ; v = 30

if q:
    print('If condition is True')
elif u:
    print('1st Elif condition is True')
elif s:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = False ; t = 0 ; q = 10 ; u = 20 ; v = 30

if t:
    print('If condition is True')
elif u:
    print('1st Elif condition is True')
elif s:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = False ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p:
    print('If condition is True')
elif s:
    print('1st Elif condition is True')
elif t:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = False ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p:
    print('If condition is True')
elif s:
    print('1st Elif condition is True')
elif q:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 0 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p > t:
    print('If condition is True')
elif u:
    print('1st Elif condition is True')
elif q:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p < t:
    print('If condition is True')
elif s:
    print('1st Elif condition is True')
elif q:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p < t:
    print('If condition is True')
elif s>=t:
    print('1st Elif condition is True')
elif t > p:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p < t:
    print('If condition is True')
elif s<=t:
    print('1st Elif condition is True')
elif t > p:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p < t:
    print('If condition is True')
elif s<=t:
    print('1st Elif condition is True')
elif t < p:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p > t and q > t:
    print('If condition is True')
elif s>=t:
    print('1st Elif condition is True')
elif t > p:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p > t or q > t:
    print('If condition is True')
elif s>=t:
    print('1st Elif condition is True')
elif t > p:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p > t or q > t:
    print('If condition is True')
elif s>=t:
    print('1st Elif condition is True')
elif t > p:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p < t or q < t:
    print('If condition is True')
elif s>=t or t > p:
    print('1st Elif condition is True')
elif t > p:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p < t or q < t:
    print('If condition is True')
elif s<=t or t > p:
    print('1st Elif condition is True')
elif t < p and v > q:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

if p < t or q < t:
    print('If condition is True')
elif s<=t or t > p:
    print('1st Elif condition is True')
elif t < p and v < q:
    print('This 2nd elif condition will not be entered till the elif evaluates to True')
else:
    print('''I will be printed if the 1st if condition and the 2 elif conditions are false. Note how there is no 
    condition on the else statement. Else statement is a catch all - if all the if and elif statements dont work THEN
    the else condition comes into play. We can have if without elif and else. We can have if + elif(s) without else. But
    in an if block we cannot have else without the if. (We can have else as part of a for loop - more on that later)''')

### Ternary operators

In [ ]:
# From Python 2.5, Python also allows ternary operators which are conditional expressions which allow testing conditions
# in a single line of code.

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

In [ ]:
if s < t:
    print(s)
else:
    print(u)

In [ ]:
p = s = 100 ; t = 0 ; q = 10 ; u = 20 ; v = 30

print(s if s < t else u)

In [ ]:
print(s if s < t else u)

In [ ]:
num1 = 10
num2 = 10

print('is greater' if num1>num2 else 'is less than' if num1<num2 else 'is equal')

In [ ]:
print(s if s>t else t)

In [ ]:
# We cannot use elif in ternary operators but we could use chained ternary operators to achieve a desired result.

In [ ]:
s = 10

if s >0: 
    print('Positive')
elif s < 0:
    print('Negative')
else:
    print('Is zero')

In [ ]:
s = -10

if s >0: 
    print('Positive')
elif s < 0:
    print('Negative')
else:
    print('Is zero')

In [ ]:
s = 0

if s >0: 
    print('Positive')
elif s < 0:
    print('Negative')
else:
    print('Is zero')

In [ ]:
s = -2

print('Positive') if s > 0 else print('Negative') if s < 0 else print('Is Zero')

In [ ]:
s = -10

print('Positive') if s > 0 else print('Negative') if s < 0 else print('Is Zero')

In [ ]:
s = 0

print('Positive') if s > 0 else print('Negative') if s < 0 else print('Is Zero')

In [ ]:
s = 0
x = -1

print('Win') if s > 0 or s > x else print('Lose') if s < 0 else print('Draw')

In [ ]:
s = 0
x = -1

print('Win') if s > 0 and s > x else print('Lose') if s < x else print('Draw')

In [ ]:
s = -1
x = 0

print('Win') if s > 0 or s > x else print('Lose') if s < x else print('Draw')

In [ ]:
print('Hi' if "" else 'Just doing time pass')

### Membership operators

In [ ]:
# Membership operators in and not in check for membership of an element in a sequential datatype(such as strings, lists, 
# tuple, dictionaries or sets)

a = 'a'
str1 = 'Python is great'
list1 = list('Python is great')
tup1 = tuple('Python is great')
dict1 = dict.fromkeys(list1, 1)
set1 = set('Python is great')

print(str1)
print(list1)

In [ ]:
print(a)

In [ ]:
print(str1)

In [ ]:
print("p" in str1)

In [ ]:
print('p' in list1)

In [ ]:
a = 'P'

In [ ]:
print(a not in list1)
print(a in tup1)

In [ ]:
print(a in dict1)

In [ ]:
print(a in dict1.keys())

In [ ]:
print(a in dict1.values())

In [ ]:
print(a in set1)

In [ ]:
a = 'x'

print(a in str1)
print(a in list1)
print(a in tup1)
print(a in dict1)
print(a in dict1.keys())
print(a in dict1.values())
print(a in set1)

In [ ]:
a = 'a'

print(a not in str1)
print(a not in list1)
print(a not in tup1)
print(a not in dict1)
print(a not in dict1.keys())
print(a not in dict1.values())
print(a not in set1)

In [ ]:
a = 'x'

print(a not in str1)
print(a not in list1)
print(a not in tup1)
print(a not in dict1)
print(a not in dict1.keys())
print(a not in dict1.values())
print(a not in set1)

In [ ]:
a = 1

#print(a not in str1)
print(a in list1)
print(a in tup1)
print(a in dict1)
print(a in dict1.keys())
print(a in dict1.values())
print(a in set1)

In [ ]:
a = 1

#print(a not in str1)
print(a not in list1)
print(a not in tup1)
print(a not in dict1)
print(a not in dict1.keys())
print(a not in dict1.values())
print(a not in set1)

In [ ]:
# A common use for the in operator is in for loops:

for element in list1:
    print(element)
    
# Using the help of an iterator object(called/initialised every time a for loop runs), it picks up every element in the 
# iterable to perform some operations iteratively.

### Identity operators

In [ ]:
# Identity operators is and is not are used to check if the objects on both sides of the operator are the same object and
# share the same memory location or are not. is returns True if they are the same object, otherwise false. Inversely, 
# is not returns True if they are not the same otherwise False. 

a = b = c = 10140

x = 10140
y = 10140

print(a is b)

In [ ]:
print(a is c)
print(b is c)
print(a is b is c)

In [ ]:
print(a is x)

In [ ]:
print(x is y)

In [ ]:
print(a == x)
print(x == y)

In [ ]:
a = b = c = 10140

d = 10140

print(a is not d)

In [ ]:
print(a is not b)
print(a is not c)
print(b is not c)
print(a is not b is not c)

In [ ]:
# -5 to 256
# Ascii 
# None
# True/False

# Anything outside these initialised objects will have new memory ids unless we do aliasing which is : 
    
# a = b - in this case both label a and label b will be put on the same object.

In [ ]:
print(a)
print(b)

c = 2001
print(c)

In [ ]:
print(a is b)
print(a is c)
print(b is c)
print(a is b is c)

In [ ]:
print(a is not b)
print(a is not c)
print(b is not c)
print(a is b is not c)

In [ ]:
print(a is b is not c)

In [ ]:
print(b is a is not c)

In [ ]:
# For easy reference, the order of evaluation of 


# Operator                       Name
# ()                             Parenthesis
# **                             Exponentiation
# -,~                            Unary minus, Bitwise complement(Bitwise Not)
# *,/,//,%                       Multiplication, Division, Floor division, Modulus
# +,-                            Addition, Subtraction
# <<,>>                          Bitwise left shift, Bitwise right shift
# &                              Bitwise AND
# ^                              Bitwise XOR
# |                              Bitwise OR
# >,>=,<,<=,==,!=                Relational (comparison) operators
# =,%=,/=,//=,-=, +=,*=,**=      Assignment operators
# is,is not                      Identity operators
# in,not in                      Membership operators
# not                            Logical not
# or                             Logical or
# and                            Logical and

In [ ]:
PEMDAS / BODMAS

Parenthesis / Bracket
Exponent / Of
Multiplication / Division
Addition
Subtraction

In [3]:
print(10/5)

2.0

In [8]:
print(bin(104))
print(bin(1))

0b1101000
0b1

In [11]:
# 1101000
# 0000001

# _______
# 1101001

print(int(0b1101001))

105

In [1]:
print((22 * 2 + 72 - 90 << 2 | 1)  + (27 / 3)**2 + (~-9)*10)

266.0

In [2]:
print((22*2 + 72 - 90 <<2 |1) + 9**2 + 8 * 10)

266

In [4]:
print((44 + 72 - 90 <<2 |1) + 9**2 + 8 * 10)

266

In [ ]:
print((26 <<2 |1) + 9**2 + 8 * 10)

In [ ]:
print((104 |1) + 9**2 + 8 * 10)

In [7]:
print(105 + 81 + 8 * 10)

266

In [6]:
print(105 + 81 + 80)

266

In [ ]:
print(-(3**4 + 7 ** 2 // 14 - (3104 if 20 > 10 else 20) >> 1) * 75 % (14 & 8) * ~2)

In [ ]:
list1=[6000,6000] 

print(list1[0] is list1[1])
print(id(list1[0]),id(list1[1]))
print(id(list1[0]) is id(list1[1]))

In [ ]:
x = id(list1[0])
y = id(list1[1])

print(x, y)
print(x == y)

print(id(x), id(y))

In [ ]:
def funct():
    
    return 1000*5

In [ ]:
x = funct()

In [ ]:
y = funct()

In [ ]:
print(x)
print(y)

print(id(x))

In [ ]:
print(id(y))